<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Toni cifre Vicens">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Begin Page Content -->
<div th:fragment="f-createNotifi" class="container-fluid">


    <!-- Page Heading -->


    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Enviar Una Notificació</h1>
    </div>

    <form class="user" th:action="@{/createNotify}" th:object="${notify}" method="POST">
        <div class="form-group row">
            <div class="col-lg-6 mb-3 row">
                <label for="titol" class="col-sm-2 col-form-label">Titol</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="titol" placeholder="Informació general">
                </div>
            </div>
            <div class="col-lg-6 mb-3 custom-checkbox row">
                <label for="titol" class="col-sm-2 col-form-label">Direcció</label>
                <div class="col-sm-10">
                    <select class="custom-select">
                        <option selected>Selecciona la direcció</option>
                        <div th:each="direc,iter: ${listDire}">
                            <option th:value="${iter.index}" th:text="${direc}"></option>
                        </div>
                    </select>
                    <label th:if="${#lists.size(listDire) == 0}" for="titol" class="col-form-label text-danger">No tens cap direcció guardada</label>
                </div>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-lg-6 mb-3 row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 custom-checkbox" style = "padding-left: 2.5rem;">
                    <input type="checkbox" class="custom-control-input" id="isAliment">
                    <label class="custom-control-label" for="isAliment">Es un producte alimentici</label>
                </div>
            </div>
        </div>
        <div class="form-group row isProduct" style="display: none;">
            <label for="caducitat" class="col-lg-1 col-sm-2 col-form-label">Expiració</label>
            <div class="col-sm-7 col-md-4">
                <input type="number" class="form-control" id="caducitat" placeholder="Dies per a l'expiració">
            </div>
        </div>

        <div class="form-group row">
            <label for="descripcio" class="col-lg-1 col-sm-2 col-form-label">Descripció</label>
            <div class="col-sm-10 mb-3">
                <textarea type="text" class="form-control" id="descripcio" placeholder="Descripció mes explicativa i informació extra"></textarea>
            </div>
        </div>
        <input type="text" value="id_reciver" style="display: none">
        <button class="btn btn-primary" type="submit">Enviar notificació</button>
    </form>

    <script>
        $('#isAliment').change(function() {
            if($(this).is(":checked")) {
                $('.isProduct').fadeIn('slow');
                return;
            }
            $('.isProduct').fadeOut('slow');
        });
    </script>
    <!-- /.container-fluid -->
</div>
</body>

</html>
