<!DOCTYPE html>
<html>
<body>
    <div th:fragment="footer" class="c-offcanvas is-hidden" id="left" role="complementary">
        <div class="navbar">
            <div style="width: 100%; margin-left: 45%">
                <button style="outline: none;" class="navbar-toggler js-offcanvas-close">
                    <i class="material-icons" style="font-size:36px">chevron_right</i>
                </button>
            </div>
            <div class="offcanvas-nav d-block d-md-none" data-set="bs"></div>
        </div>
    </div>
</body>
</html>




